.option-selected-icon {
    --sds-c-icon-color-foreground-default: rgb(0, 112, 210);
    padding-top: 0rem;
}

.option-value-text {
    font-weight: 600;
    font-size: 13px;
    color: rgb(0, 0, 0);
}

.slds-combobox__input.caret-transparent {
    caret-color: transparent;
}

.slds-combobox__input.has-custom-error {
    border: 1px solid rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
}